* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    outline: none;
    text-decoration: none;
}

#my_logo {
    position: fixed;
    top: 1%;
    right: 1%;
    font-weight: bold;
    font-size: x-small;
    color: #fff;
    cursor: pointer;
}

#my_logo:hover {
    color: orangered;
    font-size: large;
    transition: all ease 0.5s;
}

#canvas1 {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    background-image: linear-gradient(#000, #fff, #000);
    cursor: none;
}

#container {
    overflow: hidden;
    width: 25%;
    height: 25%;
    position: absolute;
}

#start {
    position: fixed;
    color: rgba(0, 0, 0, 0.85);
    font-size: large;
    top: 50%;
    left: 48%;
    margin: auto;
    text-align: center;
    transition: all ease 0.5s;
}

#options {
    position: fixed;
    color: rgba(0, 0, 0, 0.85);
    font-size: large;
    font-weight: bold;
    top: 54%;
    left: 47%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

#container:hover {}